  #fps-counter {
    position: absolute;
    top: 85%;
    left: 90%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: #0f0;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #0f0;
    border-radius: 8px;
    opacity: 0;
    filter: blur(10px);
    transition: opacity 1s ease, filter 1s ease;
      z-index: 2000; /* z-index выше, чем у модального окна */
}

        #fps-counter.active {
            opacity: 1;
            filter: blur(0); /* Удаление размытия */
        }

        #activate-button {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background:  url('https://cdn-icons-png.flaticon.com/512/6545/6545915.png') no-repeat center center;
            background-size: 100%;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            touch-action: none; /* Отключаем стандартное поведение касаний */
            box-shadow: 0 0 5px 3px rgba(192, 192, 192, 0.5);
                  z-index: 2000; /* z-index выше, чем у модального окна */
        }

        #activate-button:hover {
            opacity: 0.8;
        }