.modal {
  z-index: 1000; /* Убедитесь, что модальное окно имеет z-index */
}

.close9 {
  position: absolute;
  top: 135px;
  right: 40px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  z-index: 1010; /* z-index выше, чем у модального окна */
}
.modal-iframe {
    width: 80% !important;
    height: 80% !important;
}