#content {
    text-align: center;
}

.hidden {
    display: none;
}


/* Эффект касания при активации */
.btn:active {
  transform: scale(0.95);
}

/* Стили для ссылок */
a {
  color: #007bff;
  text-decoration: none;
}

/* Стили для списка */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Стили для изображений */
img {
  max-width: 100%;
  height: auto;
}

/* Стили для форм */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Стили для кнопок */
.btn {
  display: inline-block;
  width: 250px;
  padding: 10px 10px;
  margin: 10px 0;
  border: none;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.btn:hover {
  transform: translateY(-2px) scale(1.05);
}

.btn:active {
  box-shadow: 0 5px #666;
}

.btn-download {
  background-color: #e74c3c;
  width: 300px;
}

.btn-creator {
  width: 300px;
  background-color: #3498db;
}

.btn-post {
  display: block;
  width: 100%;
  margin: 20px 35px;
}

<div class="modal-dialog" style="max-width: 100px;">
    <div class="modal-content">
        <!-- Содержимое модального окна -->
    </div>
</div>

/* Стили для светлой темы */
body.light-theme {
    background-color: #000000;
    color: #000000;
}

/* Стили для темной темы */
body.dark-theme {
    background-color: #000000;
    color: #000000;
}